/*
    Title: GettingStartedCSS.css
    Author: Brendan Tea
    Purpose: To get familiar with HTML, CSS, and Javascript to make a simple website
    Originally created on: 8/24/23
    Last modified on: 8/27/23
*/

h1 {
    color: black;
    letter-spacing: 3px;
}

#main {
    line-height: 1.5;
    background-color:azure
}
.contact {
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}