h1 {
    text-align: center;
}
h2 {
    text-align: center;
    border-bottom-style: dashed;
}

body {
    background-color: black;
    margin: 250px;
}
input[type=text] {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}
input[type=submit] {
    text-align: center;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
}
label {
    font-size: 15pt;
}

.visible {
    font-weight: bold;
}
.midmessage {
    text-align: center;
}
#addIza {
    border-style: double; 
    display: block;
}

#main {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 50px;
}

#time {
    text-align: center;
}

#dayCycle {
    text-align: center;
}

.newStyle {
    background-color: gold;
    text-decoration: underline;
}