/*
    Title: BTeaLab3.css
    Author: Brendan Tea
    Purpose: Using Decisions and Loops, Manipulating DOM
    Originally created on: 10/3/23
    Last modified on: 10/3/23
*/

.answer {
    font-weight: bold;
    background-color: lightgrey;
}